.item {
  width: 100%;
  padding: 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
}


.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.active {
  background-color: rgba(255,255,255, 0.1);
  color: var(--primary);
}

.edit {
  font-size: 1.2rem;
}