.item {
  width: 100%;
  padding: 1.5rem 2rem;
  cursor: pointer;
  border-radius: .0rem;
}
.item:hover {
  background-color: rgba(255,255,255, 0.1);
}

.item.active {
  background-color: rgba(255,255,255, 0.2);
  color: var(--primary);
}
.active:hover {
  background-color: rgba(255,255,255, 0.25);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.edit {
  box-sizing: content-box;
  height: 1.7rem;
  width: 1.7em;
  padding: .5rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.edit svg path {
  fill: hsl(0, 0%, 41%);
}

.edit:hover svg path {
  fill: hsl(0, 0%, 80%);
}


.flex {
  display: flex;
  align-items: center;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.icon svg path {
  fill: grey;
}

.icon.active svg path {
  fill: var(--primary);
}

.filename_form {
  display: flex;
}

.filename_input {
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--white);
  border: none;
  border-bottom: solid .2rem var(--primary);
  padding: .5rem 0;
  margin-right: .5rem;
}

.filename_input:focus {
  outline: none;
}

.filename_submit {
  border: none;
  background-color: transparent;
  color: var(--primary);
}