.item {
  width: 100%;
  padding: 1.5rem 2rem;
  cursor: pointer;
  border-radius: .4rem;
}
.item:hover {
  background-color: rgba(255,255,255, 0.1);
}

.active {
  background-color: rgba(255,255,255, 0.1);
  color: var(--primary);
}
.active:hover {
  background-color: rgba(255,255,255, 0.2);
}


.name {
  word-wrap: wrap;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.edit {
  font-size: 1.2rem;
  margin-left: 1rem;
}