
.resizer {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  color: var(--text-darken);
  overflow: hidden;
}

.dragger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
  width: 100%;
  background-color: var(--bg-dark-2);
  border-bottom: solid 3px var(--border);
  color: var(--text-light);
  font-size: 1.4rem;
  padding: .5rem 2rem;
  user-select: none;
}

.content {
  --message-padding: 1rem;
  --border-weight: 1px;
  font-size: 1.4rem;
  flex-grow: 1;
  padding: 1rem 0;
  white-space:pre-wrap;
  overflow: scroll;
  scroll-behavior: smooth;
}

.text-message {
  margin-top: calc(var(--border-weight) * -1);
  padding-top: var(--message-padding);
  padding-bottom: var(--message-padding);
  padding-left: var(--message-padding);
  border-bottom: solid var(--border-weight) var(--text-darken);
}
