.solution {
  height: calc(100vh - (var(--header-height) + var(--toolbar-height)));
  padding-top: 3rem;
  padding-left: 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  max-width: 80rem; 
  color: var(--text-green);
}

.table-values {
  border-collapse: collapse;
  color: var(--text-light);
  margin-top: 5rem;
}

.table-values td {
  text-align: center;
  padding: .5rem;
}

.activity {
  color: var(--text-green);
}

.table-values th {
  padding: 1rem;
  text-align: left;
  font-weight: 600;
  color: var(--text-light);
  background-color: var(--bg-dark);
}

.table-values tr:nth-child(odd) {
  background-color: #ffffff20;
}

.scroll-spacer {
  height: 3rem;
  width: 100%;
}