
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  background-color: var(--bg-dark-2);
  height: var(--toolbar-height);
  border-left: 1rem solid var(--bg-dark);
  padding: 0 2rem;
}

.left {
  display: flex;
  align-items: center;
}

.group {
  display: flex;
  margin: 0 .5rem;
}

.icon {
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.icon svg {
  fill: var(--text-light) !important;
}

.icon:hover svg {
  fill: white !important;
}