
.nav {
  --offset: 2rem;
  color: var(--text-light);
  background-color: var(--bg-dark-2);
  width: 30rem;
  padding: 3rem 0;
}

.heading {
  color: var(--text-light);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 var(--offset);
}

.line {
  height: .1rem;
  width: 80%;
  margin-left: calc(var(--offset) - .5rem);
  margin-top: 1rem;
  background-color: var(--text-light);
}

.files {
  margin-top: 1.5rem;
}

