
.nav {
  --offset: 1rem;
  color: var(--text-light);
  background-color: var(--bg-dark);
  width: 30rem;
  padding: var(--offset);
  padding-top: 3rem;
  border-right: solid 1px var(--border);
}

.heading {
  color: var(--text-light);
  font-size: 2rem;
  font-weight: 600;
  padding: 0 var(--offset);
}

.files {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

