:root {
  --primary: #0298EE;
  --secondary: #00ffee;
  --bg-dark: #030303;
  --bg-dark-2: #1b1b1b;
  --border: #ffffff30;
  --border-weight: 1px;

  --white: #e3e3e3;

  --text-light: #c5c5c5;
  --text-green: #00ff0da9;

  --header-height: 7rem;
  --toolbar-height: 6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica','Arial', 'sans-serif';
  font-size: 62.5%;
  background-color: var(--bg-dark);
}

.main {
  display: flex;
  width: 100%;
}
