:root {
  --primary: #0298EE;
  --bg-dark: #1A1B1E;
  --bg-dark-2: #1F232D;

  --white: #e3e3e3;

  --text-light: #B9CADA;

  --header-height: 7rem;
  --toolbar-height: 6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica','Arial', 'sans-serif';
  font-size: 62.5%;
  background-color: var(--bg-dark);
}

.app {
  
}

.main {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
